<li>
	{{burger_name}}

	<button class="change-devoured btn btn-secondary btn-sm" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Devour It!{{else}}Order Again{{/if}}
	</button>
</li>
